<template>
    <v-container>
        <v-layout row justify-center>
            <v-flex xs12 md6>
                <h1 class="display-2 welcome-headline mt-3">Welcome Pokehunter</h1>
                <h2 class="font-weight-thin headline grey-darken-3--text font-italic mb-5">Gonna catch em all</h2>

                <Pokesearch/>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
  import Pokesearch from '../components/Pokesearch'

  export default {
    name: 'Home',
    components: {
      Pokesearch
    },
  }
</script>

<style scoped>
    .welcome-headline {
        line-height: 1 !important;
    }
</style>
