<template>
    <v-layout>
        <Pokegrid/>
    </v-layout>
</template>

<script>
  import Pokegrid from '../components/Pokegrid'

  export default {
    name: 'Overview',
    components: {
      Pokegrid
    },
  }
</script>

<style scoped type="scss">

</style>
