<template>
    <LMap :center="center" :zoom="zoom" :bounds="bounds" :max-bounds="bounds" :max-zoom="maxZoom" :min-zoom="minZoom">
        <LTileLayer :no-wrap="true" :url="url"></LTileLayer>
    </LMap>
</template>

<script>
  import {LMap, LTileLayer} from 'vue2-leaflet';
  import * as L from 'leaflet'

  export default {
    name: 'Map',
    components: {
      LMap,
      LTileLayer,
    },
    data () {
      return {
        zoom: 3,
        maxZoom: 4.3,
        center: [10, 0],
        minZoom: 2.8,
        bounds: L.latLngBounds([[-60, -180], [180, 180]]),
        url: 'https://oyster.ignimgs.com/ignmedia/wikimaps/pokemon-lets-go-pikachu-eevee/kanto-hi-res/{z}/{x}-{y}.jpg',
      };
    },
  }
</script>

<style type="scss">
    .leaflet-container {
        background-color:white;
    }
    .leaflet-control-attribution {
        display: none;
    }
</style>
