<template>
    <v-container grid-list-sm text-xs-center>
        <div v-if="!currentPokemonLoaded" class="loading-overlay">
            <v-progress-circular class="loading-animation" color="red" indeterminate size="50"></v-progress-circular>
        </div>
            <v-layout row wrap>
            <v-flex xs12 sm6 md6 lg4 class="pokeinfo-card-wrapper">
                <PokeFrame/>
            </v-flex>
            <v-flex xs12 sm6 md6 lg4 class="pokeinfo-card-wrapper">
                <PokeData/>
            </v-flex>
            <!-- <v-flex xs12 sm6 md6 lg4 class="pokeinfo-card-wrapper">
                <PokeData/>
            </v-flex> -->
        </v-layout>
        <v-flex xs12 sm12 md12 lg12 class="pokeinfo-card-wrapper">
            <PokeEvolution/>
        </v-flex>
        <v-flex xs12 sm12 md12 lg12 class="pokeinfo-card-wrapper">
            <PokeTypeChart/>
        </v-flex>
        <v-flex xs12 sm12 md12 lg12 class="pokeinfo-card-wrapper">
            <PokeAttack/>
        </v-flex>
    </v-container>
</template>

<script>
import actionTypes from '../const/actionTypes'
import { mapState } from 'vuex'

import PokeData from '../components/PokeData'
import PokeFrame from '../components/PokeFrame'
import PokeTypeChart from '../components/PokeTypeChart'
import PokeEvolution from '../components/PokeEvolution'
import PokeAttack from '../components/PokeAttack'

export default {
    name: 'Detailview',
    components: {
        PokeData, PokeFrame, PokeTypeChart, PokeEvolution, PokeAttack
    },
    mounted() {
        //this.$route.params.id
        console.log(this.$route.params.name);
        this.$store.dispatch(actionTypes.FETCH_POKEMON, {name: this.$route.params.name})
    },
    computed: {
      ...mapState([
      'currentPokemon',
      'currentPokemonLoaded'
    ]),
    },
    destroyed() {
        this.$store.dispatch(actionTypes.RESET_CURRENT_POKEMON);
    }
}
</script>

<style type="scss">
.pokeinfo-card-wrapper {
    padding: 1rem !important;
}
.pokemon-center-info {
    text-align: center !important;
    align-self: center !important;
}
.loading-overlay {
    position: fixed;
    z-index: 200;
    background-color: rgba(255, 255, 255, 0.53);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.loading-animation {
    top: 40%;
}
</style>

