<template>
    <v-footer class="pa-3 justify-center">
        <div>Created by <span class="font-weight-bold">Bernhard Wagner</span> and <span class="font-weight-bold">Daniel Hölbling</span></div>
    </v-footer>
</template>

<script>
  export default {
    name: 'Footer'
  }
</script>

<style scoped>

</style>
