<template>
    <header>
        <div @click="menuOpen = false" :class="[{'menu-open': menuOpen}, 'menu-overlay']"></div>
        <v-toolbar app dark color="primary">
            <v-toolbar-title class="headline text-uppercase">
                <router-link to="/" class="navbar-title">
                    <v-icon v-if="!isOnHomeRoute" class="pr-1 chevron-icon hidden-md-and-up">chevron_left</v-icon>
                    <span>Pokemon</span>
                    <span class="font-weight-light"> Pokédex</span>
                </router-link>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-side-icon class="hidden-md-and-up" @click="menuOpen = !menuOpen"></v-toolbar-side-icon>
            <v-toolbar-items class="toolbar-menu" :class="{open: menuOpen}" >
                <v-icon class="close-icon hidden-md-and-up" @click="menuOpen = false">close</v-icon>
                <v-btn v-for="link in menuLinks"
                       :key="link.key"
                       :to="link.name ? {name: link.name} : link.link "
                       flat
                       @click="menuOpen = false">
                    <v-icon class="pr-3 hidden-md-and-up">{{ link.icon }}</v-icon> {{ link.title }}
                </v-btn>
            </v-toolbar-items>
        </v-toolbar>
    </header>
</template>

<script>
  export default {
    name: 'Navigation',
    data () {
      return {
        menuLinks: [
          { key: 'home', title: 'Home', icon: 'home', link: '/'},
          { key: 'overview', title: 'List Overview', icon: 'list', name:'pokemon-overview' },
          { key: 'pokemap', title: 'Pokémap', icon: 'map', link: '/pokemap' }
        ],
        menuOpen: false,
        currentRouteName: this.$router.currentRoute.name
      }
    },
    computed: {
      isOnHomeRoute() {
        return this.currentRouteName === 'home';
      }
    },
    watch: {
      '$route' (to, from) {
        this.currentRouteName = to.name;
      }
    }
  }
</script>

<style lang="scss">
    header {
        position: fixed;
        z-index: 1000;
    }

    .navbar-title {
        color: white;
        text-decoration: none;
    }

    .chevron-icon {
        font-size: 1.1em;
    }

    @media screen and (max-width: 960px) {
        .menu-overlay::before {
            content: "";
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background: black;
            opacity: 0;
            pointer-events: none;
            transition: 0.4s ease;
        }

        .menu-overlay.menu-open::before {
            opacity: 0.3;
            pointer-events: all;
        }

        .toolbar-menu {
            flex-flow: column;
            position: fixed;
            top: 0;
            right: -100%;
            background-color: white;
            height: 100vh;
            z-index: 5000;
            color: black;
            padding-top: 70px;
            min-width: 240px;
            max-width: 300px;
            transition: 0.4s ease;

            &.open {
                right: 0;
            }

            .v-btn, a {
                text-align: left;
                color: black;
                width: 100%;
                padding: 10px 30px;

                &:not(.v-btn--floating):not(.v-btn--icon) {
                    height: auto;
                }
            }

            .v-btn__content {
                justify-content: flex-start;
            }

            .close-icon {
                color: black;
                position: absolute;
                top: 14px;
                right: 14px;
                font-size: 23pt;
            }
        }
    }
</style>
