<template>
  <v-card>
    <v-toolbar color="primary" dark>
      <v-toolbar-title>Pokémon Evolution</v-toolbar-title>
    </v-toolbar>
    <v-container grid-list-md text-xs-center>
      <v-layout row wrap>
        <v-flex xs12>
          <v-layout row wrap>
            <v-flex xs12 sm6 md4 lg4 >
                <v-layout row wrap>
                  <v-flex xs12 sm10 md10 lg11>
                    <v-img
                      class="pokemon-evo-portrait-wrapper"
                      :src="currentPokemon.image"
                      :alt="currentPokemon.name">
                    </v-img>
                    <h3>{{currentPokemon.number}} {{currentPokemon.name}}</h3>
                    <div v-if="currentPokemon.evolutionRequirements" >
                      With {{currentPokemon.evolutionRequirements.amount}} {{currentPokemon.evolutionRequirements.name}}
                    </div>
                    <div v-else>No further evolutions</div>
                  </v-flex>
                  <v-flex xs12 sm2 md2 lg1  class="pokemon-evo-arrow-wrapper">
                    <v-icon v-if="currentPokemon.evolutionRequirements">label_important</v-icon>
                  </v-flex>
                </v-layout>
            </v-flex>
            <v-flex v-for="evo in currentPokemon.evolutions" v-bind:key="evo.name" xs12 sm6 md4 lg4>
              <v-layout row wrap>
                  <v-flex xs12 sm10 md10 lg11>
                    <v-img
                      class="pokemon-evo-portrait-wrapper"
                      :src="evo.image"
                      :alt="evo.name">
                    </v-img>
                    <h3>{{evo.number}} {{evo.name}}</h3>
                    <div v-if="evo.evolutionRequirements" >
                      With {{evo.evolutionRequirements.amount}} {{evo.evolutionRequirements.name}}
                    </div>
                    <div v-else>No further evolutions</div>
                  </v-flex>
                  <v-flex xs12 sm2 md2 lg1  class="pokemon-evo-arrow-wrapper">
                    <v-icon v-if="evo.evolutionRequirements">label_important</v-icon>
                  </v-flex>
                </v-layout>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-container>
  </v-card>
</template>
<script>
import { mapState } from "vuex";
import pokemonTypeColors from "../const/pokemonTypeColors";
import stringConstants from "../const/stringConstants"
export default {
  name: "PokeEvolution",
  computed: {
    ...mapState(["currentPokemon"]),
    stringConstants() {
      return stringConstants
    },
    pokemonTypeColors() {
      return pokemonTypeColors;
    }
  }
};
</script>

<style scoped type="scss">

.pokemon-evo-portrait-wrapper {
  width: 33%;
  margin-left: 33%;
}
.pokemon-evo-arrow-wrapper {
  align-self: center;
}
</style>
