<template>
    <v-card :hover="true" :to="{name: 'pokemon-detail', params: {name: pokemon.name}}" tile class="d-flex pokemon-card">
        <v-img :transition="false" class="pokemon-image-wrapper" :contain="true" :src="pokemon.image" :lazy-src="pokemon.types | pokemonPreviewImage" :alt="pokemon.name"></v-img>
        <v-card-title class="xs9">
            <v-layout column>
                <div class="font-weight-thin subheading font-italic text-grey-lighten-5">{{ pokemon.number }}</div>
                <h2 class="h3">{{ pokemon.name }}</h2>
                <div>
                  <!-- <span v-for="type in pokemon.types" :key="pokemon.id + type" :class="type.toUpperCase()">{{ type }}</span> -->
                  <v-chip v-for="type in pokemon.types" v-bind:key="type" v-bind:color="pokemonTypeColors[type.toLowerCase()]" dark >{{ type }}</v-chip>
                </div>
                <div class="more-info">
                    more information >>
                </div>
            </v-layout>
        </v-card-title>
    </v-card>
</template>

<script>
  import pokemonTypeColors from '../const/pokemonTypeColors'
  import svgToDataURL from 'svg-to-dataurl'

  export default {
    name: 'PokemonOverviewCard',
    props: ['pokemon'],
    filters: {
      pokemonPreviewImage (types) {
        const colors = types.map((type) => pokemonTypeColors[type.toLowerCase()] || '#FFFFFF')
        let linearGradientSVGStopStrings = ``
        let offsetStep = 1 / (colors.length - 1)

        colors.forEach((color, index) => {
          linearGradientSVGStopStrings += `<stop  offset="${index * offsetStep}" style="stop-color:${color}; stop-opacity: 0.4"/>`
        })

        const svgString = `<svg version="1.1" id="Red" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	                            width="960px" height="560px" viewBox="0 0 960 560" enable-background="new 0 0 960 560" xml:space="preserve">
                                    <radialGradient stop-opacity="0" id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="1" y1="280" x2="961" y2="280">
	                                  ${linearGradientSVGStopStrings}
                                    </radialGradient>
                                 <rect opacity="0.9" x="1" y="-1" fill="url(#SVGID_1_)" width="960" height="562"/>
                            </svg>`

        if (!types || types.length === 0) {
          return ''
        } else {
          return svgToDataURL(svgString)
        }
      }
    },
    computed: {
      pokemonTypeColors() {
        return pokemonTypeColors;
      }
    }
  }
</script>

<style scoped type="scss">
    .pokemon-image-wrapper {
        height: 150px;
        max-width: 30%;
        margin: 20px 10px;
    }

    .more-info {
        position: absolute;
        color: darkred;
        right: 20px;
        bottom: 15px;
        font-size: 1.03em;

        &:hover {
            color: lighten(darkred, 10%);
        }
    }
</style>
