<template>
    <div class="pokemon-type-pills">
        <v-expansion-panel data-test="panel" v-model="panel" expand>
            <v-expansion-panel-content>
                <template v-slot:header>
                    <div class="headline filter-header mb-2" data-test="headline">Filter by Types</div>
                </template>
                <div class="pb-4">
                    <span :key="type" v-for="(color, type) in types" class="text-xs-center mr-2">
                     <v-chip data-test="filter-chip" @click="toggleType(type)" :color="lightenColor(color)" :class="[{selected: !isFiltered(type)}, 'pokemon-type-pill']" :outline="isFiltered(type)" :text-color="isFiltered(type) ? color : 'white'">{{ type | capitalize }}</v-chip>
                    </span>
                </div>
            </v-expansion-panel-content>
        </v-expansion-panel>
    </div>
</template>

<script>
  import PokemonTypes from '../const/pokemonTypeColors'
  import lightenDarkenColor from '../util/color-helper'

  export default {
    name: 'PokemonTypeFilter',
    data: () => {
      return {
        filteredTypes: [],
        types: PokemonTypes,
        panel: [false],
        window: {
          width: 0,
          height: 0
        }
      }
    },
    created() {
      window.addEventListener('resize', this.handleResize)
      this.handleResize();
      if(this.window.width > 1900) {
        this.panel = [true];
      }
    },
    destroyed() {
      window.removeEventListener('resize', this.handleResize)
    },
    methods: {
      isFiltered (type) {
        return this.filteredTypes.includes(type)
      },
      toggleType (type) {
        if (this.isFiltered(type)) {
          this.filteredTypes = this.filteredTypes.filter((item) => item !== type)
        } else {
          this.filteredTypes = [...this.filteredTypes, type]
        }

        this.$emit('onFilter', this.filteredTypes)
      },
      handleResize() {
        this.window.width = window.innerWidth;
        this.window.height = window.innerHeight;
      },
      lightenColor(color) {
        return lightenDarkenColor(color, 20);
      }
    },
    filters: {
      capitalize (string) {
        return string.charAt(0).toUpperCase() + string.slice(1)
      }
    }
  }
</script>

<style type="scss">
    .pokemon-type-pill {
        transition: 0.5s ease;
        font-size: 1.1em;
        cursor: pointer;
    }

    .pokemon-type-pill .v-chip__content {
        cursor: pointer;
    }

    .pokemon-type-pill.selected {
        font-size: 1.1em;
        padding-left: 3px;
        padding-right: 3px;
        font-weight: 600;
        text-shadow: -1px 0 rgba(0, 0, 0, 0.33), 0 1px rgba(0, 0, 0, 0.33), 1px 0 rgba(0, 0, 0, 0.33), 0 -1px rgba(0, 0, 0, 0.33);
    }

    .pokemon-type-pills .v-expansion-panel__header {
        padding-left: 0;
        padding-right: 0;
        justify-content: flex-start;
    }

    .pokemon-type-pills .v-expansion-panel {
        box-shadow: none;
    }

    .pokemon-type-pills .v-expansion-panel .headline {
        color: #7f7f7f;
        font-weight: 300;
        font-size: 1.3em;
        flex: inherit;
        margin-right: 10px;
    }

    .pokemon-type-pills .v-expansion-panel .v-expansion-panel__body {
        transition: none;
    }

    .pokemon-type-pills .theme--light.v-expansion-panel .v-expansion-panel__container  {
        background: none;
    }

</style>
