<template>
    <v-container>
        <v-flex>
            <v-container fluid grid-list-md>
                <v-progress-circular class="loading-animation" v-if="!isLoaded" color="grey" indeterminate size="50"></v-progress-circular>
                <v-layout v-else row wrap>
                    <v-flex xs12>
                        <PokemonTypeFilter data-test="pokemon-filter" @onFilter="onPokemonTypeFilter"></PokemonTypeFilter>
                    </v-flex>
                    <transition name="fade" class="grid-transition" v-for="pokemon in pokemonList" :key="pokemon.id">
                        <v-flex v-if="isVisible(pokemon)" class="pokemon-list" xs12 md6 lg4>
                            <PokemonOverviewCard data-test="pokemon-list-item" :pokemon="pokemon" ></PokemonOverviewCard>
                        </v-flex>
                    </transition>
                </v-layout>
            </v-container>
        </v-flex>
    </v-container>
</template>

<script>
  import { mapState } from 'vuex'
  import PokemonOverviewCard from './PokemonOverviewCard';
  import PokemonTypeFilter from './PokemonTypeFilter'

  export default {
    name: 'Pokegrid',
    data: () => {
      return {
        filteredTypes: []
      }},
    computed: {
      ...mapState([
        'pokemonList',
      ]),
      isLoaded () {
        return (this.$store.state.pokemonList && this.$store.state.pokemonList.length > 0)
      }
    },
    components: {
      PokemonOverviewCard,
      PokemonTypeFilter
    },
    methods: {
      onPokemonTypeFilter(filteredTypes) {
        this.filteredTypes = filteredTypes;
      },
      isVisible(pokemon) {
        return (pokemon.types.filter((item) => !this.filteredTypes.includes(item.toLowerCase())).length > 0);
      }
    }
  }
</script>

<style scoped type="scss">
    .loading-animation {
        left: 50%;
        transform: translate(-50%, 0);
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .grid-transition {
        transition: 0.5s ease;
    }

    .fade-enter-active, .fade-leave-active {
        transition: transform 0.21s ease-in-out, opacity 0.42s ease-in-out;
        transform: translate(0,0) scale(1);
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
        transform: translate(0, 100%);
    }


</style>
