<template>
      <v-card>
        <v-toolbar color="primary" dark>
          <v-toolbar-title v-if="currentPokemon">{{ currentPokemon.name }}</v-toolbar-title>
          <v-toolbar-title v-else>PokeFrame</v-toolbar-title>
        </v-toolbar>
        <div class="pokemon-portrait-wrapper">
          <v-img
          :src="currentPokemon.image" 
          :alt="currentPokemon.name"></v-img>
        </div>
      </v-card>
</template>

<!-- :transition="false" 
        class="pokemon-image-wrapper" 
        :contain="true" 
        :lazy-src="pokemon.types | pokemonPreviewImage"  -->

<script>
import { mapState } from "vuex";
import pokemonTypeColors from "../const/pokemonTypeColors";
import stringConstants from "../const/stringConstants"
export default {
  name: "PokeFrame",
  computed: {
    ...mapState(["currentPokemon"]),
    stringConstants() {
      return stringConstants
    },
    pokemonTypeColors() {
      return pokemonTypeColors;
    }
  }
};
</script>

<style scoped type="scss">

.pokemon-portrait-wrapper {
  padding: 1rem;
}

</style>
