<template>
  <v-card>
    <v-toolbar color="primary" dark>
      <v-toolbar-title>Pokédex data</v-toolbar-title>
    </v-toolbar>
    <v-list>
      <v-list-tile>
        <v-list-tile-content>Number</v-list-tile-content>
        <v-list-tile-content class="align-end" v-if="currentPokemon.number">{{ currentPokemon.number}}</v-list-tile-content>
        <v-list-tile-content class="align-end" v-else> {{ stringConstants.CHATCH_EM_ALL }}</v-list-tile-content>
      </v-list-tile>

      <v-list-tile>
        <v-list-tile-content>Types</v-list-tile-content>
          <v-list-tile-content class="align-end" v-for="type in currentPokemon.types" v-bind:key="type">
          <v-chip v-bind:color="pokemonTypeColors[type.toLowerCase()]" dark>{{ type }}</v-chip>
          </v-list-tile-content>
      </v-list-tile>

      <v-list-tile>
        <v-list-tile-content>Classification</v-list-tile-content>
        <v-list-tile-content class="align-end" v-if="currentPokemon.classification">{{ currentPokemon.classification}}</v-list-tile-content>
        <v-list-tile-content class="align-end" v-else>{{ stringConstants.CHATCH_EM_ALL }}</v-list-tile-content>
      </v-list-tile>

      <v-list-tile>
        <v-list-tile-content>Weight</v-list-tile-content>
        <v-list-tile-content class="align-end" v-if="currentPokemon.weight">
          min {{currentPokemon.weight.minimum}} - max {{currentPokemon.weight.maximum}}
        </v-list-tile-content>
        <v-list-tile-content class="align-end" v-else>{{ stringConstants.CHATCH_EM_ALL }}</v-list-tile-content>
      </v-list-tile>

      <v-list-tile>
        <v-list-tile-content>Height</v-list-tile-content>
        <v-list-tile-content class="align-end" v-if="currentPokemon.height">
          min {{currentPokemon.height.minimum}} - max {{currentPokemon.height.maximum}}
        </v-list-tile-content>
        <v-list-tile-content class="align-end" v-else>{{ stringConstants.CHATCH_EM_ALL }}</v-list-tile-content>
      </v-list-tile>

      <v-list-tile>
        <v-list-tile-content>Max Health Points</v-list-tile-content>
        <v-list-tile-content class="align-end" v-if="currentPokemon.maxHP">{{ currentPokemon.maxHP}}</v-list-tile-content>
        <v-list-tile-content class="align-end" v-else> {{ stringConstants.CHATCH_EM_ALL }}</v-list-tile-content>
      </v-list-tile>

      <v-list-tile>
        <v-list-tile-content>Max Combat Power</v-list-tile-content>
        <v-list-tile-content class="align-end" v-if="currentPokemon.maxCP">{{ currentPokemon.maxCP}}</v-list-tile-content>
        <v-list-tile-content class="align-end" v-else> {{ stringConstants.CHATCH_EM_ALL }}</v-list-tile-content>
      </v-list-tile>

      <v-list-tile>
        <v-list-tile-content>Flee rate</v-list-tile-content>
        <v-list-tile-content class="align-end" v-if="currentPokemon.fleeRate">{{ currentPokemon.fleeRate}}</v-list-tile-content>
        <v-list-tile-content class="align-end" v-else> {{ stringConstants.CHATCH_EM_ALL }}</v-list-tile-content>
      </v-list-tile>
    </v-list>
  </v-card>
</template>

<script>
import { mapState } from "vuex";
import pokemonTypeColors from "../const/pokemonTypeColors";
import stringConstants from "../const/stringConstants"
export default {
  name: "PokeData",
  computed: {
    ...mapState(["currentPokemon"]),
    stringConstants() {
      return stringConstants
    },
    pokemonTypeColors() {
      return pokemonTypeColors;
    }
  }
};
</script>

<style scoped style lang="scss">
.right-value{
  text-align: right !important;
}
</style>
