<template>
  <v-card>
    <v-toolbar color="primary" dark>
      <v-toolbar-title center>Pokémon Attack List</v-toolbar-title>
    </v-toolbar>
    <v-toolbar color="secondary" dark class="pokemon-center-info">
      <v-toolbar-title class="pokemon-center-info">Fast attacks</v-toolbar-title>
    </v-toolbar>
    <v-layout v-if="currentPokemon.attacks" row wrap pa-3 xs12 sm12 md12 lg12>
    <v-flex v-for="fast in currentPokemon.attacks.fast" v-bind:key="fast.name">
      <v-chip v-bind:color="pokemonTypeColors[fast.type.toLowerCase()]" dark>{{fast.name}}: {{fast.damage}} dmg</v-chip>
    </v-flex>
    </v-layout>
    <v-toolbar color="secondary" dark>
      <v-toolbar-title>Special attacks</v-toolbar-title>
    </v-toolbar>
    <v-layout v-if="currentPokemon.attacks" row wrap pa-3 xs12 sm12 md12 lg12>
    <v-flex v-for="sepcial in currentPokemon.attacks.special" v-bind:key="sepcial.name">
      <v-chip v-bind:color="pokemonTypeColors[sepcial.type.toLowerCase()]" dark>{{sepcial.name}}: {{sepcial.damage}} dmg</v-chip>
    </v-flex>
    </v-layout>
  </v-card>
</template>

<script>
import { mapState } from "vuex";
import pokemonTypeColors from "../const/pokemonTypeColors";
import stringConstants from "../const/stringConstants"
export default {
  name: "PokeAttack",
  computed: {
    ...mapState(["currentPokemon"]),
    stringConstants() {
      return stringConstants
    },
    pokemonTypeColors() {
      return pokemonTypeColors;
    }
  }
};
</script>

<style scoped style lang="scss">
</style>
