<template>
      <v-card>
        <v-toolbar color="primary" dark>
          <v-toolbar-title center>Pokémon Type Chart</v-toolbar-title>
        </v-toolbar>
        <v-toolbar color="secondary" dark class="pokemon-center-info">
          <v-toolbar-title class="pokemon-center-info">Weak against</v-toolbar-title>
        </v-toolbar>
        <v-layout row wrap pa-3 xs12 sm12 md12 lg12>
        <v-flex v-for="weak in currentPokemon.weaknesses" v-bind:key="weak">
          <v-chip v-bind:color="pokemonTypeColors[weak.toLowerCase()]" dark>{{weak}}</v-chip>
        </v-flex>
        </v-layout>
        <v-toolbar color="secondary" dark>
          <v-toolbar-title>Strong against</v-toolbar-title>
        </v-toolbar>
        <v-layout row wrap pa-3 xs12 sm12 md12 lg12>
        <v-flex v-for="resistant in currentPokemon.resistant" v-bind:key="resistant">
          <v-chip v-bind:color="pokemonTypeColors[resistant.toLowerCase()]" dark>{{resistant}}</v-chip>
        </v-flex>
        </v-layout>
      </v-card>
</template>

<script>
import { mapState } from "vuex";
import pokemonTypeColors from "../const/pokemonTypeColors";
import stringConstants from "../const/stringConstants"
export default {
  name: "PokeTypeChart",
  computed: {
    ...mapState(["currentPokemon"]),
    stringConstants() {
      return stringConstants
    },
    pokemonTypeColors() {
      return pokemonTypeColors;
    }
  }
};
</script>

<style scoped style lang="scss">
</style>
