<template>
    <v-card>
        <v-progress-circular class="loading-animation" v-if="!isLoaded" color="red" indeterminate size="50"></v-progress-circular>
        <div v-else>
            <v-card-title>
                <h2 data-test="headline" class="font-weight-light headline">Find your Pokemon</h2>
            </v-card-title>
            <v-card-text>
                <v-text-field prepend-icon="search"
                              data-test="search-input-field"
                              label="Search"
                              class="search-input"
                              v-model="searchText"
                              placeholder='"Bulbasaur" or "001"'
                              clearable
                              single-line></v-text-field>
                <v-list two-line v-if="searchText" class="search-box" data-test="search-box">
                    <v-subheader>{{ pokemonSearchResult.length > 0 ? 'Result' : 'No matching pokemon found'}}</v-subheader>
                    <template v-for="pokemon in pokemonSearchResult">
                        <v-list-tile :to="{name: 'pokemon-detail', params: {name: pokemon.name}}" :key="pokemon.id" avatar>
                            <v-list-tile-avatar>
                                <img :src="pokemon.image">
                            </v-list-tile-avatar>

                            <v-list-tile-content>
                                <v-list-tile-title>{{ pokemon.name }}</v-list-tile-title>
                                <v-list-tile-sub-title>
                                    <!-- <span v-for="type in pokemon.types" v-bind:key="type" class="pokemon-type mr-2" :class="type.toLowerCase()">{{ type }}</span> -->
                                    <v-chip v-for="type in pokemon.types" v-bind:key="type" v-bind:color="pokemonTypeColors[type.toLowerCase()]" dark style="height: 24px" >{{ type }}</v-chip>
                                </v-list-tile-sub-title>
                            </v-list-tile-content>
                        </v-list-tile>
                    </template>
                </v-list>
                <v-flex class="justify-end text-xs-right">
                    <v-btn to="/pokemon/overview" color="warning">Full Pokemon List
                        <v-icon>keyboard_arrow_right</v-icon>
                    </v-btn>
                </v-flex>
            </v-card-text>
        </div>
    </v-card>
</template>

<script>
import pokemonTypeColors from "../const/pokemonTypeColors";
  export default {
    data () {
      return {
        searchText: null,
      }
    },
    computed: {
      pokemonTypeColors() {
        return pokemonTypeColors;
      },
      pokemonSearchResult () { //@see https://medium.com/vue-mastery/vuex-intro-tutorial-course-38ca0bca7ef4
        return (this.searchText) ? this.$store.getters.filteredPokemonList(this.searchText).slice(0, 10) : []
      },
      isLoaded () {
        return (this.$store.state.pokemonList && this.$store.state.pokemonList.length > 0)
      }
    },
  }
</script>

<style scoped type="scss">
    .search-box {
        max-height: 300px;
        overflow: auto;
    }
    .loading-animation {
        margin-bottom: 25px;
        margin-top: 25px;
        left: 50%;
        transform: translate(-50%);
    }
</style>
