<template>
    <v-app>
        <Navigation/>
        <v-content>
            <router-view/>
        </v-content>
        <Footer/>
    </v-app>
</template>

<script>
  import Navigation from './components/Navigation'
  import Footer from './components/Footer'
  import actionTypes from './const/actionTypes'

  export default {
    name: 'App',
    components: {
      Navigation,
      Footer
    },
    created() {
      const fetchPokemonList = () => this.$store.dispatch(actionTypes.FETCH_POKELIST)
      fetchPokemonList().then(() => {
        document.dispatchEvent(new Event('prerender-trigger')) //TODO loading icon
      })
    }
  }
</script>
