/*
  custom scrollbar
 */

::-webkit-scrollbar {
  width: 5px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: rgba(221, 221, 221, 0.47);
}

::-webkit-scrollbar-thumb {
  background: rgba(102, 102, 102, 0.67);
  cursor: pointer;
}
